@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gridContainer clearfix">
    <div class="outer_wrapper">
        <div class="inner_wrapper">
            <div id="user_add_title_div" class="fluid sec_title_1">
                Having Problem to Login?
            </div>
            <div class="fluid news_entry sec_sep">
                <div class="sec_sep full_width">
                </div>
                <div class="col">
                </div>
                <div class="col mid">
                    <ul>
                        <li class="inpt_lbl side_1 b_lbl">Enter your email to reset password</li>
                        <li>
                            <span class="add_selected_col_1">
                                <input id="txtEmail" type="text" />
                            </span>
                        </li>
                        <li>
                            <div class="g-recaptcha" data-sitekey="6Lcb3hYUAAAAACGpvsVub5aIMCXvggB3s1qyhj6e"></div>
                        </li>
                        <li>
                            <input id="btnResetPassword" type="button" permit="input_ctrl" class="btn_1 " value="Send" onclick="User.sendPasswordResetRequestByUser()"/>
                        </li>
                        <li><a href="/Application/Index" class="login_msg">Back to login page</a></li>
                    </ul>
                </div>
                <div class="col">
                </div>
                <div class="sec_sep full_width">
                </div>

            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
@Scripts.Render("~/bundles/user");
@Scripts.Render("~/bundles/service");
