@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gridContainer clearfix">
    <div class="outer_wrapper">
        <div id="divPasswordReset" class="inner_wrapper" hidden>
            <div id="user_add_title_div" class="fluid sec_title_1" >
                Reset Your Password
            </div>
            <div class="fluid news_entry sec_sep">
                <div class="sec_sep full_width">
                </div>
                <div class="col">
                </div>
                <div class="col mid">
                    <ul>
                        <li class="inpt_lbl side_1 b_lbl">Enter New Password</li>
                        <li>
                            <span class="add_selected_col_1">
                                <input id="txtPassword" type="password" />
                            </span>
                        </li>
                        <li class="inpt_lbl side_1 b_lbl">Confirm New Password</li>
                        <li>
                            <span class="add_selected_col_1">
                                <input id="txtConfirmPassword" type="password" />
                            </span>
                        </li>
                        <li>
                            <input id="btnResetPassword" type="button" permit="input_ctrl" class="btn_1 " value="Reset Password" onclick="User.resetPassword()" />
                        </li>

                    </ul>
                </div>
                <div class="col">
                </div>
                <div class="sec_sep full_width">
                </div>

            </div>
        </div>
    </div>
    <div id="divInvalidUrl"  hidden>
        <p class="inpt_lbl side_1 b_lbl">Password Reset URL expired..</p>

    </div>
</div>
@Scripts.Render("~/bundles/user");
@Scripts.Render("~/bundles/service");
<script type="text/javascript">

    $(function ($) {
        User.validatePasswordResetUrl();
    });

</script>
